
/* GENERAL */

*{
    font-family: Arial, Helvetica, sans-serif;
}

.general-container{
    margin: 0 auto;
    max-width: 1100px;
    height: 580px;
    position: absolute;
    display: flex;
    top: 20px;
    left: 10px;
    bottom: 20px;
    right: 10px;
    z-index: 4;
}