@import url(general.css);

body{
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(217,219,212,1) 20%);
}


/* 
General 
*/

.avatar-img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.avatar-img img{
    width: 100%;
    border-radius: 50%;
}

.icons{
    color: #B1B1B1;
}

.icons > *{
    padding-right: 10px;
}

/* 
Aside
*/
.my-name{
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 5px;
}

.header-left, .header-right,footer{
    height: 50px;
    background-color: #EAEAEA;
}
aside{
    width: 400px;
    height: 580px;
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.aside-down{
    height: calc(580px - 140px);
    overflow-y: scroll;
}
.spot-notifiche{
    height: 50px;
    background-color: #8EDAFC;
}

.notifiche{
    width: 35px;
    height: 35px;
    margin: 5px 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    background-color: white;
    color: #8EDAFC;
}

.spot-input{
    height: 40px;
    background-color: #FAFAFA;
}

.contact-item{
    height: 50px;
    width: 100%;
    background-color: white;
    border-top: 0.5px solid #EAEAEA;
    padding: 5px;
    display: flex;
}

.contact-item-active{
    background-color:#E9EBEB;
    cursor: pointer;
    height: 50px;
    width: 100%;
}

.name-contact{
    margin-left: 10px;
    margin-top: 5px;
}

.name-contact > p{
    font-size: 0.7em;
}

.name-contact > h6{
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 5px;
}
.name-contact > *{
    line-height: 5px;
}
.time{
    font-size: 0.6em;
}




/* 
Main section
*/

main{
    width: calc(1100px - 400px);
}

.central-chat{
    padding: 20px;
    height: calc(580px - 100px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.sent{
    width: 270px;
    background-color: #D5F9BA;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: 350px;
    margin-top: 10px;
    font-size: 0.8em;
    position: relative;
}

.received{
    width: 270px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: 30px;
    font-size: 0.8em;
    position: relative;
}

.contact-item-chat{
    display: flex;
}

.icons-footer{
    color: #6B7376;
    padding: 12px 20px;
}

.date-chat{
    font-size: 0.6em;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.fa-chevron-down{
    color: black;
    font-size: 0.8em;
    position: absolute;
    top: -30px;
    right: 0;
    padding: 0;
}




/* 
MEDIA QUERY da Desktop first
*/

/* Tablet */

@media screen and (max-width: 768px){

}


/* Mobile */
@media screen and (max-width: 576px){
    
}



/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){

}


/* Desktop */
@media screen and (min-width: 992px){
    
}


