@import url(general.css);

body{
    background-color: rgb(217,219,212,1);
}

.sfondo-green{
    height: 100px;
    background-color: #009688;
    position: relative;
}




/* 
Colonna left
*/

.header-left, .header-right,footer{
    height: 50px;
    background-color: blueviolet;
}
aside{
    width: 400px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
.spot-notifiche{
    height: 50px;
    background-color: aqua;
}
.spot-input{
    height: 40px;
}

.contact-item{
    height: 50px;
    width: 100%;
    background-color: white;
    border-top: 0.5px solid grey;
    padding: 10px;
}




/* 
Colonna right
*/

main{
    width: calc(1100px - 400px);
}

.central-chat{
    height: calc(580px - 100px);
    background-color: bisque;
}

.sent{
    width: 100px;
    height: 30px;
    background-color: #D5F9BA;
    border-radius: 30px;
}

.received{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
}

















/* 
MEDIA QUERY da Desktop first
*/

/* Tablet */

@media screen and (max-width: 768px){

}


/* Mobile */
@media screen and (max-width: 576px){
    
}



/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){

}


/* Desktop */
@media screen and (min-width: 992px){
    
}


